<div>
    <h4>{{'Расписание'|_}}</h4>
    <div v-for="time in times">
        <template v-if="time.deleted_at == null">
            <div class="col-sm-6">
                <clock-field
                        :model="time.from"
                        :field="'value'"
                        :id="'from-' + time.id"
                        :label="time.from.label"
                        :readonly="true"
                        :name="time.id + 'name'"
                        :css_class="''">
                </clock-field>
            </div>
            <div class="col-sm-6">
                <clock-field
                        :model="time.to"
                        :field="'value'"
                        :id="'to-' + time.id"
                        :label="time.to.label"
                        :readonly="true"
                        :name="time.id + 'name'"
                        :css_class="''">
                </clock-field>
                <button type="button" class="btn btn-xs btn-danger"
                        v-on:click="deleteTimes($event, time)"
                        style="position: absolute; top: 31px; right: 50px;" data-style="zoom-in">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </template>
    </div>
    <div class="col-md-12 m-sm">
        <div class="pull-right">
            <button class="btn btn-sm btn-primary"
                    v-if="create != null"
                    v-on:click="save($event)">
                <i class="fa fa-pencil-square-o"></i> {{'Сохранить'|_}}
            </button>
            <button class="btn btn-sm btn-success" v-on:click="addMore($event,3)">
                <i class="fa fa-plus"></i> {{'Добавить'|_}}
            </button>
        </div>
    </div>
</div>