<div>
    <table class="table table-striped tooltip-container dataTable sorted_table" v-if="properties">
        <thead>
        <tr>
            <th>{{'Название'|_}}</th>
            <th style="width: 150px; text-align: center">{{'Деиствия'|_}}</th>
            <th style="width: 200px; text-align: center">{{'Код'|_}}</th>
            <th style="width: 100px; text-align: center">{{'Сортировка'|_}}</th>
            <th style="width: 150px; text-align: center">{{'Тип'|_}}</th>
            <th style="width: 50px; text-align: center">{{'Поиск'|_}}</th>
        </tr>
        </thead>
        <tbody v-for="propertyParent in properties">
        <tr>
            <td colspan="6">
                <span class="muted" v-for="n in propertyParent.depth">&#9482;&nbsp;&nbsp;&nbsp;</span>
                <span v-if="propertyParent.depth >= 1">&ndash;&nbsp;</span>
                {{propertyParent.name}}
                (
                <router-link target="_blank" to="{name:'catalog_category_edit',params:{id:propertyParent.id}}"
                             v-html="'#' + propertyParent.id"></router-link>
                ) :
                <a v-on:click="showProperties(propertyParent)">
                    {{'свойств в категории'|_}}: {{propertyParent.children.length-1}}
                    <i class="fa"
                       :class="{'fa-plus-square-o': (propertyParent.open == 0),'fa-minus-square-o': (propertyParent.open == 1)}"></i>
                </a>
            </td>
        </tr>
        <tr v-for="property in propertyParent.children" v-if="property.open == 1">
            <td>
                <input type="text" v-model="property.name"
                       v-on:keyup="cmd(property, 'change', $event)"
                       class="form-control">
            </td>
            <td class="text-center">
                <div class="btn-group btn-group-sm" v-if="property.id > 0">
                    <button class="btn btn-default" type="button"
                            v-bind:class="{active: (property.state == 1) }"
                            v-on:click="cmd(property, 'published', $event)">
                        <i class="fa fa-check"></i>
                    </button>
                    <button class="btn btn-default" type="button"
                            v-on:click="showFullSetting(property,propertyParent)">
                        <i class="fa fa-gear"></i>
                    </button>
                    <button class="btn btn-default" type="button"
                            v-bind:class="{active: (property.deleted_at == 1), disabled: (property.is_system == 1) }"
                            v-on:click="cmd(property, 'trashed', $event)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
            <td>
                <input type="text" v-model="property.code"
                       v-on:keyup="cmd(property, 'change', $event)"
                       v-bind:readonly="property.is_system == 1"
                       class="form-control">
            </td>
            <td>
                <input type="text" v-model="property.sort"
                       v-on:keyup="cmd(property, 'change', $event)"
                       data-validate="integer"
                       class="form-control text-center">
            </td>
            <td class="text-center">
                {{getPropertyType(property.type)}}
            </td>
            <td class="text-center">
                <div class="abc-checkbox" v-if="['string','file'].includes(property.type) == false">
                    <input type="checkbox" v-model="property.is_search"
                           :id="'prop-' + property.id"
                           v-on:change="cmd(property, 'change', $event)">
                    <label :for="'prop-' + property.id">&nbsp;</label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="modal animated fadeIn" role="dialog" id="catalogPropertyModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content tooltip-container" v-if="openItem">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{openItem.name}}</h4>
                    <small class="font-bold">{{'Детальная настройка параметров свойства категории каталога'|_}}
                        #{{openItem.id}}
                    </small>
                </div>
                <div class="ibox-title fixed-scroll">
                    <button v-for="button in actionButtons" class="btn"
                            v-bind:class="button.cls"
                            data-style="zoom-in"
                            v-if="button.visible == null || button.visible == true"
                            v-on:click="button.action($event)">
                        <i class="fa" v-bind:class="button.icon"></i>
                        {{button.text}}
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <div class="abc-checkbox">
                                <input type="checkbox" v-model="openItem.req" id="req">
                                <label for="req">{{'Обязательное поле'|_}}</label>
                            </div>
                        </div>
                        <div class="col-sm-3" v-if="['string','file'].includes(openItem.type) == false">
                            <div class="abc-checkbox">
                                <input type="checkbox" v-model="openItem.is_search" id="is_search">
                                <label for="is_search"
                                       data-placement="right"
                                       data-toggle="tooltip"
                                       :title="'Значение свойства будет проиндексировано модулем Поиск и отображено в фильтре.'|_">
                                    {{'Участвует в поиске'|_}}
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3" v-if="['string','number'].includes(openItem.type) == false">
                            <div class="abc-checkbox">
                                <input type="checkbox" v-model="openItem.is_calculate" id="is_calculate">
                                <label for="is_calculate"
                                       data-placement="right"
                                       data-toggle="tooltip"
                                       :title="'Свойство будет отображено при добавление Торгового предложения к позиции каталога.'|_">
                                    {{'Участвует в расчетах'|_}}
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3" v-if="['list','file'].includes(openItem.type) == false">
                            <div class="abc-checkbox">
                                <input type="checkbox" v-model="openItem.data.multiple" id="multiple">
                                <label for="multiple"
                                       data-placement="right"
                                       data-toggle="tooltip"
                                       :title="'Возможность выбора нескольких значений.'|_">
                                    {{'Множественное'|_}}
                                </label>
                            </div>
                        </div>
                        <!-- <div class="col-sm-3">
                             <div class="checkbox">
                                 <input type="checkbox" v-model="openItem.data.allow_extends" id="allow_extends">
                                 <label for="allow_extends">{{'Наследуемое'|_}}</label>
                             </div>
                         </div>-->
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-right: 0 !important;">
                            <label>{{'Название'|_}}: <span class="text-danger">*</span></label>
                            <input type="text" v-model="openItem.name"
                                   class="form-control">
                        </div>
                        <div class="form-group" style="margin-right: 0 !important;">
                            <label>{{'Код'|_}}: <span class="text-danger">*</span></label>
                            <input type="text" v-model="openItem.code"
                                   class="form-control">
                        </div>
                        <div class="form-group" style="margin-right: 0 !important;">
                            <label>{{'Внешний код'|_}}:</label>
                            <input type="text" v-model="openItem.external_id" class="form-control">
                        </div>
                        <div class="form-group" style="margin-right: 0 !important;">
                            <label>{{'Тип свойства'|_}}: <span class="text-danger">*</span></label>
                            <multiselect v-model="openItem.type"
                                         :options="properties_type"
                                         :placeholder="'Выберите значение'|_"
                                         :selectLabel="'Выбрать значение'|_"
                                         :selectedLabel="'Выбранное значение'|_"
                                         :preselect-first="false"
                                         track-by="id"
                                         label="name"
                                         :deselect-label="'Удалить значение'|_"></multiselect>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>{{'Сортировка'|_}}:</label>
                            <input type="text" v-model="openItem.sort"
                                   class="form-control" data-validate="integer">
                        </div>
                        <div class="form-group">
                            <label>{{'CSS'|_}}:</label>
                            <input type="text" v-model="openItem.data.css" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>{{'Иконка'|_}}:</label>
                            <input type="text" class="form-control" readonly="readonly"
                                   v-model="openItem.data.icon"
                                   style="cursor: pointer"
                                   :placeholder="'Выбор изображения'|_" v-on:click="openFinderIcon('image',openItem)">
                        </div>
                        <div class="form-group">
                            <label>{{'Группировка'|_}}:
                                <router-link target="_blank"
                                             data-placement="right"
                                             data-toggle="tooltip"
                                             :title="'Редактировать список группировки' |_"
                                             :to="{name:'catalog_category_grouping_items',params:{id:openItem.category_id}}">
                                    <i class="fa fa-gears"></i>
                                </router-link>
                            </label>
                            <multiselect v-model="openItem.grouping_id"
                                         :options="grouping_list"
                                         :placeholder="'Выберите значение'|_"
                                         :selectLabel="'Выбрать значение'|_"
                                         :selectedLabel="'Выбранное значение'|_"
                                         :tagPlaceholder="'Добавить новую группу'|_"
                                         tag-position="bottom"
                                         :preselect-first="false"
                                         label="name"
                                         :taggable="true"
                                         @tag="addGrouping"
                                         tag-placeholder="Add this as new tag"
                                         :deselect-label="'Удалить значение'|_"></multiselect>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" v-if="openItem.type.id !== '' && openItem.type.id != 'data_source'">
                            <label>{{'Значение по умолчанию'|_}}: {{openItem.type}}</label>
                            <div class="col-sm-12" v-if="openItem.type.id == 'string'">
                                <input type="text" v-model="openItem.data.default_value" class="form-control">
                            </div>
                            <div v-if="openItem.type.id == 'list'">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td>{{'Псевдоним'|_}}</td>
                                        <td>{{'Название'|_}}</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(propertyValue, idx) in openItem.default_value">
                                        <td>
                                            <input type="text" v-model="propertyValue.alias" class="form-control">
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" v-model="propertyValue.name"
                                                       ref="default_properties" class="form-control">
                                                <span class="input-group-btn">
                                                    <button type="button"
                                                            data-toggle="tooltip"
                                                            data-placement="left"
                                                            data-style="zoom-in"
                                                            v-on:click="removeDefaultValue(openItem,propertyValue,idx,$event)"
                                                            class="btn btn-danger">
                                                        <i class="fa fa-minus-circle"></i>
                                                    </button>
                                                    <button type="button"
                                                            data-toggle="tooltip"
                                                            data-placement="left"
                                                            v-on:click="addDefaultValue(openItem)"
                                                            class="btn btn-primary">
                                                        <i class="fa fa-plus-circle"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="2" class="text-right">
                                            <button type="button"
                                                    data-toggle="tooltip"
                                                    data-placement="left"
                                                    v-on:click="addDefaultValue(openItem)"
                                                    class="btn btn-xs btn-primary">
                                                <i class="fa fa-plus-circle"></i>
                                                {{'Добавить значение'|_}}
                                            </button>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="col-sm-12" v-if="openItem.type.id == 'number'">
                                <input type="text" v-model="openItem.data.default_value" class="form-control"
                                       data-validate="integer">
                            </div>
                            <div class="col-sm-12" v-if="openItem.type.id == 'exist'">
                                <div class="col-sm-2">
                                    <div class="radio">
                                        <input type="radio" v-model="openItem.data.default_value" id="yes" value="1">
                                        <label for="yes">{{'Да'|_}}</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="radio">
                                        <input type="radio" v-model="openItem.data.default_value" id="no" value="0">
                                        <label for="no">{{'Нет'|_}}</label>
                                    </div>
                                </div>
                            </div>
                            <div v-if="openItem.type.id == 'file'">
                                <input type="text" class="form-control" readonly="readonly"
                                       v-model="openItem.data.default_value"
                                       :placeholder="'Выбор изображения'|_" v-on:click="openFinder('image',openItem)">
                            </div>
                            <input type="text" v-model="openItem.data.default_value" class="form-control"
                                   v-if="openItem.type.id == 'date'">
                        </div>
                        <div class="col-sm-12" v-if="openItem.type.id == 'data_source'">
                            <label>{{'Источник данных'|_}}:
                                <span class="text-danger">*</span>
                            </label>
                            <multiselect v-model="openItem.data.default_value"
                                         :options="properties_data_source"
                                         :placeholder="'Выберите значение'|_"
                                         :selectLabel="'Выбрать значение'|_"
                                         :selectedLabel="'Выбранное значение'|_"
                                         :preselect-first="false"
                                         track-by="id"
                                         label="name"
                                         :deselect-label="'Удалить значение'|_"></multiselect>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>{{'Подсказка'|_}}:</label>
                            <textarea v-model="openItem.data.helps" class="form-control" rows="5"
                                      :placeholder="'Краткая подсказка описывающая суть значения характеристики'|_"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

