<div>
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li v-if="item.store_module == 'Y'">
                <a data-toggle="tab" href="#tab-item-store-parameters">
                    {{'Наличие на складе'|_}}
                    <i class="fa fa-question-circle"
                       data-placement="right"
                       data-toggle="tooltip"
                       :title="'На сайте включен складской учет, кол-во товара в наличие регулируется документооборотом.'|_"></i>
                </a>
            </li>
            <li v-if="item.allow_delivery == 'Y'">
                <a data-toggle="tab" href="#tab-item-parameters">
                    {{'Параметры товара'|_}}
                    <i class="fa fa-question-circle"
                       data-placement="right"
                       data-toggle="tooltip"
                       :title="'На сайте включен расчет доставки, заполните вес и габариты товара.'|_"></i>
                </a>
            </li>
            <li class="active">
                <a data-toggle="tab" href="#tab-item-prices">
                    {{'Стоимость'|_}}
                    <i class="fa fa-question-circle"
                       data-placement="right"
                       data-toggle="tooltip"
                       :title="'Заполните базовую стоимость и ознакомтесь с вариантами продажи товара со скидкой.'|_"></i>
                </a>
            </li>
            <li v-if="!item.parent_id">
                <a data-toggle="tab" href="#tab-item-offers">
                    {{'Торговые предложения'|_}}
                    <i class="fa fa-question-circle"
                       data-placement="right"
                       data-toggle="tooltip"
                       :title="'Добавьте торговые предложения с разными свойствами учавствующими в расчетах для основной позиции каталога.'|_"></i>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div v-if="item.allow_delivery == 'Y'" id="tab-item-parameters" class="tab-pane">
                <div class="panel-body">
                    <div class="col-md-8 m-b-md">
                        <h2>{{'Параметры упаковки'|_}}</h2>
                    </div>
                    <div class="col-md-4 m-b-md">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-default" type="button"
                                    v-on:click="help('catalog_delivery')">
                                <i class="fa fa-life-bouy"></i>
                                {{'Помощь'|_}}
                            </button>
                        </div>
                    </div>
                    <table class="table dataTable">
                        <tbody>
                        <tr>
                            <td style="max-width: 200px">
                                <label class="form-control" style="border:none; background: none">
                                    {{'Длина'|_}} (mm):
                                </label>
                            </td>
                            <td class="col-sm-9">
                                <input type="text" v-model="item.data.length"
                                       class="form-control"
                                       data-validate="double">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="form-control"
                                       style="border:none; background: none">
                                {{'Ширина'|_}} (mm):
                            </label>
                            </td>
                            <td><input type="text" v-model="item.data.width"
                                       class="form-control"
                                       data-validate="double">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="form-control"
                                       style="border:none; background: none">
                                {{'Высота'|_}} (mm):
                            </label>
                            </td>
                            <td><input type="text" v-model="item.data.height"
                                       class="form-control"
                                       data-validate="double">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="form-control"
                                       style="border:none; background: none">{{'Вес'|_}}
                                (kg):</label>
                            </td>
                            <td><input type="text" v-model="item.data.weight"
                                       class="form-control"
                                       data-validate="double">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-if="item.store_module == 'Y'" id="tab-item-store-parameters" class="tab-pane">
                <div class="panel-body">
                    <div class="tabs-container">
                        <div class="col-md-8 m-b-md">
                            <h2>{{'Доступное количество на всех складах'|_}}: <strong>{{item.availability}}</strong></h2>
                        </div>
                        <div class="col-md-4 m-b-md">
                            <div class="pull-right">
                                <button class="btn btn-sm btn-default" type="button"
                                        v-on:click="help('catalog_store')">
                                    <i class="fa fa-life-bouy"></i>
                                    {{'Помощь'|_}}
                                </button>
                            </div>
                        </div>
                        <ul class="nav nav-tabs stores">
                            <li v-for="(store,index) in item.stores"
                                :class="{'active': getActiveStore(store.id)}">
                                <a data-toggle="tab" data-action="select-store"
                                   :data-id="store.id"
                                   :href="'#tab-store-' + store.id">
                                    {{store.name}} ({{store.availability}})
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div v-for="(store,index) in item.stores"
                                 :id="'tab-store-' + store.id" class="tab-pane"
                                 :class="{'active': getActiveStore(index)}">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12" style="padding-top: 20px; position: relative">
                                            <img :src="store.logo"
                                                 style="max-width: 100px; position: absolute; right: 10px; top: 10px;">
                                            <h2>{{'Доступное количество на складе'|_}}:
                                                <strong>{{store.availability}}</strong></h2>

                                            <div style="margin-bottom: 20px">
                                                <button class="btn btn-white btn-sm"
                                                        type="button"
                                                        v-on:click="addDocument(store)">
                                                    <i class="fa fa-plus"></i> {{'Добавить документ'|_}}
                                                </button>
                                            </div>
                                            <table class="table table-striped dataTable">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        {{'Текущая операция'|_}}
                                                    </th>
                                                    <th style="width: 100px" class="text-center">
                                                        {{'Значение'|_}}
                                                    </th>
                                                    <th style="width: 150px" class="text-center">{{'Дата создания'|_}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-if="store.documents.items.length == 0">
                                                    <td colspan="3" class="text-center">
                                                        <p class="alert alert-info">
                                                            <strong>
                                                                {{'Нет данных для отображения'|_}}
                                                            </strong>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr v-if="store.documents.items.length > 0"
                                                    v-for="document in store.documents.items">
                                                    <td>
                                                        <i class="fa fa-file-text-o"></i>
                                                        {{document.status.name}}
                                                    </td>
                                                    <td class="text-center">
                                                        <strong>{{document.value}}</strong>
                                                    </td>
                                                    <td class="text-center">{{document.created_at}}</td>
                                                </tr>
                                                </tbody>
                                                <tfoot v-if="store.documents.current_page  > 1">
                                                <tr>
                                                    <td colspan="3" class="footable-visible">
                                                        <ul class="pagination pull-right">
                                                            <li class="footable-page-arrow"
                                                                v-bind:class="{ 'disabled': (store.documents.current_page == 1)}"
                                                                v-on:click="paginate(1,store)"
                                                                v-if="store.documents.pages > 1">
                                                                <a>«</a>
                                                            </li>
                                                            <li class="footable-page-arrow"
                                                                v-bind:class="{ 'disabled': (store.documents.current_page == 1)}"
                                                                v-on:click="paginate(store.documents.current_page-1,store)"
                                                                v-if="store.documents.pages > 1">
                                                                <a>‹</a>
                                                            </li>
                                                            <li class="footable-page"
                                                                v-if="(store.documents.current_page - 2) > 0">
                                                                <a v-on:click="paginate(store.documents.current_page - 2,store)">
                                                                    {{store.documents.current_page - 2}}
                                                                </a>
                                                            </li>
                                                            <li class="footable-page"
                                                                v-if="(store.documents.current_page - 1) > 0">
                                                                <a v-on:click="paginate(store.documents.current_page - 1,store)">
                                                                    {{store.documents.current_page - 1}}
                                                                </a>
                                                            </li>
                                                            <li class="active">
                                                                <a>{{store.documents.current_page}}</a>
                                                            </li>
                                                            <li class="footable-page"
                                                                v-if="(store.documents.current_page + 1) < store.documents.pages">
                                                                <a v-on:click="paginate(store.documents.current_page + 1, store)">
                                                                    {{store.documents.current_page + 1}}
                                                                </a>
                                                            </li>
                                                            <li class="footable-page"
                                                                v-if="(store.documents.current_page + 2) < store.documents.pages">
                                                                <a v-on:click="paginate(store.documents.current_page + 2,store)">
                                                                    {{store.documents.current_page + 2}}
                                                                </a>
                                                            </li>
                                                            <li class="footable-page-arrow"
                                                                v-bind:class="{ 'disabled': (store.documents.current_page == store.documents.pages)}"
                                                                v-if="store.documents.pages > 1">
                                                                <a v-on:click="paginate(store.documents.current_page+1,store)">›</a>
                                                            </li>
                                                            <li class="footable-page-arrow"
                                                                v-bind:class="{ 'disabled': (store.documents.current_page == store.documents.pages)}"
                                                                v-if="store.documents.pages > 1">
                                                                <a v-on:click="paginate(store.documents.pages,store)"
                                                                   data-toggle="tooltip"
                                                                   :title="'к странице' + store.documents.pages">»</a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-item-prices" class="tab-pane active">
                <div class="panel-body">
                    <div class="tabs-container">
                        <div class="col-md-8  m-b-md">
                            <h2>{{'Текущая цена'|_}}: <strong>{{item.price.price}}</strong></h2>
                        </div>
                        <div class="col-md-4  m-b-md">
                            <div class="pull-right">
                                <button class="btn btn-sm btn-default" type="button"
                                        v-on:click="help('catalog_discount')">
                                    <i class="fa fa-life-bouy"></i>
                                    {{'Помощь'|_}}
                                </button>
                            </div>
                        </div>
                        <table class="table dataTable">
                            <tbody>
                            <tr>
                                <td style="max-width: 150px">
                                    {{'Базовая цена'|_}}:
                                </td>
                                <td>
                                    <input type="text" v-model="item.price.base_price"
                                           data-validate="double"
                                           class="form-control spiner">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <h2>{{'Деиствующие скидки'|_}}</h2>
                        <table class="table table-striped dataTable">
                            <thead>
                            <tr>
                                <th>
                                    {{'Название'|_}}
                                </th>
                                <th style="width: 150px" class="text-center">{{'Дата создания'|_}}</th>
                                <th style="width: 150px" class="text-center">{{'Дата завершения'|_}}</th>
                                <th style="width: 150px" class="text-center">{{'Цена'|_}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="item.price.discounts.length == 0">
                                <td colspan="4" class="text-center">
                                    <p class="alert alert-info">
                                        <strong>
                                            {{'Нет данных для отображения'|_}}
                                        </strong>
                                    </p>
                                </td>
                            </tr>
                            <tr v-if="item.price.discounts.length > 0" v-for="discount in item.price.discounts">
                                <td>
                                    {{discount.name}}
                                </td>
                                <td class="text-center">{{discount.created_at}}</td>
                                <td class="text-center">{{discount.valid_at}}</td>
                                <td class="text-center">{{discount.price}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="tab-item-offers" class="tab-pane" v-if="!item.parent_id">
                <div class="panel-body">
                    <div class="col-md-8 m-b-md">
                        <h2>{{'Торговые предложения'}}</h2>
                    </div>
                    <div class="col-md-4 m-b-md">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-default"
                                    type="button"
                                    v-on:click="help('catalog_offer')">
                                <i class="fa fa-life-bouy"></i>
                                {{'Помощь'|_}}
                            </button>
                        </div>
                    </div>
                    <br/>
                    <table class="table table-striped dataTable">
                        <thead>
                        <tr>
                            <th colspan="3">
                                <a href="javascript:void(0)"
                                   v-on:click="addOffer()"
                                   class="btn btn-default btn-xs">
                                    <i class="fa fa-database"></i>
                                    {{'Добавить'|_}}</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                {{'Код товара'|_}}
                            </th>
                            <th>
                                {{'Название'|_}}
                            </th>
                            <th class="col-md-3 text-center">
                                {{'Доступное количество'|_}}
                                <i class="fa fa-question-circle"
                                   data-placement="top"
                                   data-toggle="tooltip"
                                   :title="'Доступное количество товара по всем складам.'|_"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="item.offers.length == 0">
                            <td colspan="3" class="text-center">
                                <p class="alert alert-info"><strong>{{'Нет данных для отображения'|_}}</strong></p>
                            </td>
                        </tr>
                        <tr v-for="offerItem in item.offers">
                            <td>
                                {{offerItem.code}}
                            </td>
                            <td>
                                <router-link target="_blank"
                                             :to="{name:'catalog_item',params:{id:offerItem.id}}"
                                             v-html="offerItem.name"></router-link>
                            </td>
                            <td class="text-center">
                                {{offerItem.availability}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" role="dialog" id="addOfferModal" v-if="openItem && offer.name">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{openItem.name}}</h4>
                    <small class="font-bold">{{'Добавление торгового предложения'|_}}</small>
                </div>
                <div class="modal-body" style="margin: 0; padding: 0;">
                    <div class="tabs-container" style="min-height: 400px">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tab-offer-catalog-item-general">
                                    {{'Основная информация'|_}}
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-offer-media-setting">
                                    {{'Медиа материалы'|_}}
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-offer-catalog-item-properties">
                                    {{'Свойства'|_}}
                                </a>
                            </li>
                        </ul>
                        <form method="get" class="form-horizontal">
                            <div class="tab-content">
                                <div id="tab-offer-catalog-item-general" class="tab-pane active">
                                    <div class="panel-body" style="min-height: 400px">
                                        <text-form-field :id="'offer-id'"
                                                         :name="'name'" :field="'name'"
                                                         :label="'Название'|_"
                                                         :model="offer"
                                                         :required="true"
                                                         :form_group="true"
                                                         :readonly="false"
                                                         :css_class="'col-sm-12'"
                                                         :help_string="''"
                                                         :placeholder="''"></text-form-field>
                                        <text-form-alias
                                                :item="offer"
                                                :required="false"
                                                :readonly="false"
                                                :label="'Псевдоним'|_"
                                                :placeholder="''"
                                                :form_group="true"
                                                :css_class="'col-sm-12'"></text-form-alias>
                                        <text-form-field :id="'offer-id'"
                                                         :name="'base_price'" :field="'base_price'"
                                                         :label="'Базовая цена'|_"
                                                         :model="offer.price"
                                                         :required="true"
                                                         :form_group="true"
                                                         :readonly="false"
                                                         :css_class="'col-sm-12'"
                                                         :help_string="''"
                                                         :placeholder="''"></text-form-field>
                                    </div>
                                </div>
                                <div id="tab-offer-media-setting" class="tab-pane">
                                    <div class="panel-body" style="min-height: 400px">
                                        <media :item=offer :presentation="false"></media>
                                    </div>
                                </div>
                                <div id="tab-offer-catalog-item-properties" class="tab-pane">
                                    <div class="panel-body" style="min-height: 400px" >
                                        <properties-form-value
                                                :show_update_btn=false
                                                :item=offer
                                                :is_calculate=true></properties-form-value>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">{{'Закрыть'|_}}</button>
                    <button type="button" class="btn btn-primary"
                            data-style="zoom-in"
                            v-on:click="saveOffer($event)">{{'Применить'|_}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>