$text-color: #676a6c;
$text-color-active: #5b5d5f;
$bg-color: #f3f3f4;
$white: #ffffff;
$navy: #1ab394;
$dark-gray: #c2c2c2;
$blue: #1c84c6;
$lazur: #23c6c8;
$yellow: #f8ac59;
$red: #ED5565;
$md-color-primary: $navy;
$md-shadow-main: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

$bg-side: $dark-gray;

@import "buttons";

body {
  background-color: $bg-color;
  color: $text-color !important;
  //font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.nav_title {
  height: 150px;
  padding: 10px 0 0 0;
  background-color: $bg-side;

  .site_title {
    height: 100%;
  }
}

.nav_menu {
  background-color: $white;
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14);
  border-bottom: none !important;
}

.left_col {
  background: $white;
}

.site_title {
  color: $text-color !important;
}

.nav.child_menu > li > a {
  color: $text-color !important;
}

.nav.side-menu > li.active {
  background: $bg-color;
  border-right: 0px solid $md-color-primary;
}

.nav.side-menu > li.active > a {
  background: $bg-color;
  //border-top: 1px solid #b6b6b7;
  color: $text-color-active;
  box-shadow: none !important;
}

.nav.side-menu > li > a:hover {
  color: $text-color !important;
}

.nav.side-menu > li > a {
  color: $text-color !important;
}

.nav.side-menu > li a.router-link-active {
  color: $text-color-active !important;
  font-weight: 900 !important;
}

.x_panel {
  box-shadow: $md-shadow-main;
}

.logo {
  box-shadow: $md-shadow-main;
}

.breadcrumb {
  background-color: transparent !important;

  .breadcrumb-item {
    a {
      color: $text-color;
    }
  }
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

