@import "~gentelella/vendors/bootstrap/dist/css/bootstrap.min.css";
@import "~gentelella/vendors/font-awesome/css/font-awesome.min.css";
@import "~gentelella/vendors/nprogress/nprogress.css";
@import "~animate.scss/vendor/assets/stylesheets/animate.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeIn.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeInDown.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeInUp.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeInLeft.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeInRight.scss";
@import "~awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css";
@import "~toastr/toastr";
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "~ladda/css/ladda";
@import "~gentelella/src/scss/custom.scss";
@import "theme/default";
@import "~suggestions-jquery/dist/css/suggestions.min.css";
@import "~daterangepicker/daterangepicker";
@import '~codemirror/lib/codemirror.css';
@import '~jquery-ui/themes/base/sortable.css';

.splash-screen {
  width: 100%;
  text-align: center;
  padding-top: 150px;
  opacity: 0.4;
  //i {
  //  border: 3px solid #676a6c;
  //  border-radius: 300px;
  //  padding: 50px;
  //}
}

.profile_img {
  width: 70%;
  background: #fff;
  margin-left: 15%;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 4px;
}

//.nav_title {
//  height: 120px !important;
//
//  .site_title {
//    height: 120px !important;
//  }
//}
//
//.nav-sm {
//  .nav_title {
//    height: 60px !important;
//  }
//}
._table_ td {
  height: 48px;
  padding: 3px !important;
}

._table_ td span {
  line-height: 20px !important;
}

td:hover > ._action_block_ {
  display: block !important;
}

._action_block_ {
  //font-size: 95%;
  display: inline-block;
  width: 100%;

  span {
    margin-top: 5px;
    margin-right: 4px;
    font-size: 12px;
    //a {
    //  color: $text-color;
    //}
    &.label-default {
      // background-color: #777;
      a {
        color: $text-color;
      }
    }

    &.label-danger {
      a {
        color: #fff;
      }
    }

    &:hover {
      box-shadow: $md-shadow-main;
    }
  }
}

.nav-sm {
  .nav_title {
    height: 60px;
    padding: 0;

    .site_title {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .nav.side-menu li a {
    word-wrap: break-word;
  }

  ul.nav.child_menu {
    background: $bg-color;
    box-shadow: $md-shadow-main;

    li {
      &:hover {
        background: $light-gray;
      }

      a {
        padding: 10px 5px;


        i {
          width: auto !important;
          font-size: 20px !important;
          margin: 0 5px 0 0;
        }

        &.router-link-exact-active {
          i {

          }
        }
      }
    }
  }
}