<div :class="(form_group)?'form-group':''">
    <div :class="css_class">
        <label class="control-label">{{label|_}}
            <strong class="text-danger text-bold" v-if="required">*</strong>
        </label>
        <div class="input-group">
            <input type="text"
                   :id="set_id" :placeholder="placeholder"
                   :readonly="readonly != ''"
                   class="form-control"
                   v-model="set_model" id="image">
            <span class="input-group-btn">
                <button type="button"
                        v-on:click="openFinder('image')"
                        class="btn btn-primary">
                    <i class="fa fa-folder-o"></i>
                </button>
            </span>
        </div>
        <span class="help-block m-b-none" v-if="help_string !=''">
            <i class="fa fa-exclamation"></i>
            {{help_string|_}}
        </span>
    </div>
</div>