<div :class="{'has-error': errors.has(name), 'has-error': errors.has(scope+'.'+name), 'form-group':(form_group)}">
   <div :class="css_class" v-if="set_model">
        <label class="control-label">{{label|_}}
            <strong class="text-danger text-bold" v-if="required">*</strong>
        </label>
        <div style="position: relative">
            <input type="text"
                   :id="set_id" :placeholder="placeholder"
                   :readonly="readonly != ''"
                   v-model="set_model.value" class="form-control">
            <search-table :callback="{fn:callback}"
                          :title="title"
                          :filter="filter"
                          :data_url="data_url"></search-table>
        </div>
        <span class="help-block m-b-none" v-if="help_string !=''">
            <i class="fa fa-exclamation"></i>
            {{help_string|_}}
        </span>
    </div>
</div>
